.breadcrumbs{
  width: 100%;
  background: #f5f5f5;
  height: 48px;
  width: 100%;
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  
  .breadcrumbs-list{
    font-size:14px;
    margin-top:15px;
    margin-left: 30px
  }
  a{
    color: black;
  }
  a:hover{
    text-decoration: underline;
  }
}