.tel-body{
  padding: 0 0 220px;
  &__header{
    height: 128px;
    text-align: center;
    &__icon{
      margin: 40px 0 0;
      height: 49px;
      width: 185px;
      display: inline-block;
      &:hover{
        opacity: 0.5 ;
      }
    }
  }
  .tel-center{
    display: block;
    &__upper{
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      &__check{
        font-size: 22px;
        padding: 32px;
        text-align: center;
      }
    }
    &__under{
      padding: 24px 16px 40px;
      border-top: 1px solid #ccc;
      height: 376px;
      &__main{
        padding: 24px 16px 40px;
        &__form{
          height: 70px;
          width: 343px;
          margin: 0 160px 0;
          &__label{
            font-weight: 600;
          }
          &__input{
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 16px;
            border-radius: 4px;
          }
          &__sms{
            margin: 24px 0 0;
            background-color: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            width: 100%;
            font-size: 14px;
            text-align: center;
            height: 50px;
          }
          &__in{
            margin: 8px 0 0;
            line-height: 1.5;
          }
          .btn-red{
            background-color: #ea352d;
            color: #fff;
            text-align: center;
            line-height: 48px;
            margin: 30px auto;
            width: 100%;
          }
          &__right{
            text-align: right;
            margin: 24px 0 0;
            color: #0099e8;
          }
        }
      }
    }
  }
  @include sub-footer();
  .progress-bar-box{
    height: 60px;
    box-sizing: border-box;
    display: inline-flex;
    vertical-align: top;
    padding: 40px 0 0 44px;
    font-size: large;
    .progress-bar{
      color: #ccc;
      width: 100px;
      height:  32px;
      box-sizing: border-box;
      &:nth-child(2){
        color: #ea352d;
      }
      &__title{
        font-size: 12px;
        font-weight: 600;
        width:100px;
        text-align: center;
      }
      &__dot{
        width: 12px;
        margin: auto;
        font-size: x-large;
        &__bar{
          background-color: #ccc;
          width: 100px;
          height: 2px;
          position: relative;
          bottom: 10px;
          left: 5px;
        }
      }
    }
  }
}

.right-t{
  color: #0099e8;
}
