
.address-body{
  padding: 0 0 220px;
  &__header{
    height: 128px;
    text-align: center;
    &__icon{
      margin: 40px 0 0;
      height: 49px;
      width: 185px;
      display: inline-block;
      &:hover{
        opacity: 0.5 ;
      }
    }
  }

.address-center{
  &__upper{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    max-height: 700px;
    &__title{
      font-size: 22px;
      padding: 32px;
      text-align: center;
      margin: 0 auto;
    }
  }
  .address-under{
    height: 979px;
    padding: 10px 16px 40px;
    border-top: 1px solid #f5f5f5;
    &__form{
      max-width: 343px;
      margin: 0 auto;
      height: 914px;
      &__next{
        background-color: #ea352d;
            color: #fff;
            text-align: center;
            line-height: 48px;
            margin: 30px auto;
            width: 100%;
      }
      &__in{
        margin: 24px 0 0;
        &__label{
          font-weight: 600;
        }
        &__required{
          background-color: #ea352d;
          color: #fff;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          vertical-align: top;
        }
        &__any{
          background-color: #ccc;
          color: #fff;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          vertical-align: top;
        }
        &__name{
          width: 343px;
          height: 48px;
          margin: 8px 0 0;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #fff;
          line-height: 1.5;
          font-size: 16px;
          padding: 0 15px 0;
        }
        &__put{
          width: 343px;
          height: 48px;
          margin: 8px 0 0;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #fff;
          line-height: 1.5;
          font-size: 16px;
          padding: 0 15px 0;
          }
        }
      }
    }
  }
  .progress-bar-box{
    height: 60px;
    box-sizing: border-box;
    display: inline-flex;
    vertical-align: top;
    padding: 40px 0 0 44px;
    font-size: large;
    .progress-bar{
      color: #ccc;
      width: 100px;
      height:  32px;
      box-sizing: border-box;
      &:nth-child(3){
        color: #ea352d;
      }
      &__title{
        font-size: 12px;
        font-weight: 600;
        width:100px;
        text-align: center;
      }
      &__dot{
        width: 12px;
        margin: auto;
        font-size: x-large;
        &__bar{
          background-color: #ccc;
          width: 100px;
          height: 2px;
          position: relative;
          bottom: 10px;
          left: 5px;
        }
      }
    }
  }
}